<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="false" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"></include>
    <include file="$(find tr05_controller)/launch/tr05_controller.launch"></include>
    <node name="web_vdieo_server" pkg="web_video_server" type="web_video_server"/>
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node"/>
</launch>