body {
    /* background-color: #7E7E7E; */
    background-color: black;
}

#dataViewers {
    position: fixed;
    display: block;
    left: 16px;
    bottom: 16px;
}

#dataViewers span {
    color: aqua;
}

#map canvas {
    width: 100%;
}